<h2>Band List</h2>

<% @band.each do |bands| %>
<%= bands.name %>

<form action="<%=edit_band_url(bands)%>" method="get">
  <input type="submit" value="Edit">
</form>

<form action="<%=band_url(bands.id)%>" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="submit" value="Delete">
</form>

<% end %>

<br>
<form class="" action="<%=new_band_url%>" method="get">
  <input type="submit" value="Add a Band">
</form>
